body {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  width: 1000px;
}

div {
  border: 1px solid black;
    background-color: #FFF;
    width: 32%;
    height: 100vh;
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  div {
    width: 100%;
  }
}
